name: build
on:
  push:
  pull_request:

jobs:
  build:
    name: Node.js ${{ matrix.os }} ${{ matrix.node }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node: [10, 12, 14]
    steps:
      - uses: actions/checkout@v1
      - name: Set Node.js
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - name: node environment
        run: |
          node -v
          npm -v
      - run: npm install
      - run: npm test
      - name: Coveralls
        if: matrix.os == 'ubuntu-latest' && matrix.node == 14
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}

